body {
    margin: 0;
}

Header {
    height: 500px;
    background: url(images/header.jpg) no-repeat;
    background-size: cover;
}

#write {    
    position: absolute;
    top:150px;left:50%; 
    max-width: 780px;
    margin-left:-390px; 
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto Slab',serif;
    color: #ffffff;
}

.ProfileText {
    position: absolute;
    top:430px;left:50%;
    margin-left:-100px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Source Sans Pro',sans-serif;
    color: rgb(51, 51, 51);
}

img#kris {
    border-radius: 50%; 
}

#name {
    font-weight: bold
}

#date {
    font-style: italic;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 10px; 
}

div.blog {
    position: absolute;
    left: 50%;
    margin-left: -500px; ;
    margin-top: 170px;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Source Sans Pro',sans-serif; 
}

li {
    max-width: 780px;
    padding-left: 40px;
    margin-bottom: 120px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto Slab',serif;
    color: rgba(29, 29, 29, 0.25);
}

p {
           
    margin-bottom: 20px; 
    font-size: 18px;
    line-height: 32px;    
    font-weight: normal;
    font-family: 'Source Sans Pro',sans-serif;
    color:rgb(51, 51, 51);
}

h1 {

    margin-bottom: 0px;
    font-size: 36px;
    font-weight: bold;       
    font-weight: normal;
    font-family: 'Roboto Slab',serif;
    color: rgb(51, 51, 51);
}   

span {
    font-weight: bold;
}
    
.reccomend { 
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    font-family: 'Source Sans Pro',sans-serif;    
    color: rgb(51, 51, 51);
}

a {
    margin-top: 0px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    font-family: 'Source Sans Pro',sans-serif;
    color: #42b4d6;
}
    